@model Finances.Database.Entities.Reserve

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reserve</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <select asp-for="Owner" class="form-control">
                    <option value="0">Mi Moço</option>
                    <option value="1">Mi Moça</option>
                    <option value="2">Dos Doise</option>
                </select>
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" disabled />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" disabled />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>

            <div class="form-group d-flex">
                <a class="btn btn-secondary mr-2" asp-action="Index">Voltar</a>
                <input type="submit" value="Atualizar Reserva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-lg-10">
        <form asp-action="AddEntry">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="entryTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Data de lançcamento</th>
                                <th>Valor</th>
                                <th>Observação</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Entries.OrderByDescending(e => e.DateCreated))
                            {
                                <tr>
                                    <td>
                                        @(item.DateCreated.ToString("dd/MM/yyyy"))
                                    </td>
                                    <td>@(item.Amount.ToString("C"))</td>
                                    <td>@Html.DisplayFor(modelItem => item.Observation)</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick="RemoveEntry('@item.Id')">Remover</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="vendor/jquery/jquery.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
         // Handle removing a selected entry
        function RemoveEntry(id)
        {
            $.ajax({
                url: "/Reserves/RemoveEntry/", // Replace with the correct URL
                method: "POST",
                data: {
                    id: id
                },
                success: function () {
                   window.location.reload(true);
                },
                error: function () {
                    // Handle the error if needed
                }
            });
        }
    </script>
}
