@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Montinhos</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="chartMontinhos"></canvas>
                </div>
            </div>
        </div>
    </div>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    @section Scripts {
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script>

            function formatCurrency(amount) {
                const formatter = new Intl.NumberFormat('pt-BR', {
                    style: 'currency',
                    currency: 'BRL'
                });
                return formatter.format(amount);
            }
            $.ajax({
                url: '/Reserves/AmountByMonth',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Handle the response data here
                    var ctx = document.getElementById("chartMontinhos");
                    ctx.style.backgroundColor = "white";

                    let dataset = [];
                    let maxAmount = 0;
                    data.reserves.forEach((element) => {
                        dataset.push(
                            {
                                label: element.reserveName,
                                borderColor: element.reserveDisplayColor,
                                data: element.amountByMonth,
                                backgroundColor: "rgba(255, 255, 255, 0)",
                            });

                        if (maxAmount < Math.max(Math.max(...element.amountByMonth))) {
                            maxAmount = Math.ceil(Math.max(...element.amountByMonth));
                        }
                    });

                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: dataset,
                        },
                        options: {
                            maintainAspectRatio: false,
                            layout: {
                                padding: {
                                    left: 10,
                                    right: 25,
                                    top: 25,
                                    bottom: 0
                                },
                            },
                            scales: {
                                xAxes: [{
                                    time: {
                                        unit: 'month'
                                    },
                                    gridLines: {
                                        display: true,
                                        drawBorder: false
                                    },
                                    ticks: {
                                        maxTicksLimit: 10
                                    },
                                    maxBarThickness: 20,
                                }],
                                yAxes: [{
                                    ticks: {
                                        min: 0,
                                        max: maxAmount,
                                        maxTicksLimit: 5,
                                        padding: 15,
                                        // Include a BRL sign in the ticks
                                        callback: function (value, index, values) {
                                            return formatCurrency(value);
                                        }
                                    },
                                    gridLines: {
                                        color: "rgb(255, 255, 255)",
                                        zeroLineColor: "rgb(255, 255, 255)",
                                        drawBorder: false,
                                        borderDash: [2],
                                        zeroLineBorderDash: [2]
                                    }
                                }],
                            },
                            legend: {
                                display: false
                            },
                            tooltips: {
                                titleMarginBottom: 10,
                                titleFontColor: '#6e707e',
                                titleFontSize: 14,
                                backgroundColor: "rgb(255,255,255)",
                                bodyFontColor: "#858796",
                                borderColor: '#dddfeb',
                                borderWidth: 1,
                                xPadding: 15,
                                yPadding: 15,
                                displayColors: true,
                                caretPadding: 10,
                                callbacks: {
                                    label: function (tooltipItem, chart) {
                                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                        return datasetLabel + ': ' + formatCurrency(tooltipItem.yLabel);
                                    }
                                }
                            },
                        }
                    });
                },
                error: function (xhr, status, error) {
                    // Handle the error here
                    console.log(error);
                }
            });
            // Bar Chart Example

        </script>
    }
