@using Finances.APP.Models.Investment;
@model UpdateInvestmentViewModel


@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Investmento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rentability" class="control-label"></label>
                <input asp-for="Rentability" class="form-control" disabled />
                <span asp-validation-for="Rentability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAmount" class="control-label"></label>
                <input asp-for="CurrentAmount" class="form-control" />
                <span asp-validation-for="CurrentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" disabled>
                    <option value="0">CDB</option>
                    <option value="1">Tesouro SELIC</option>
                    <option value="2">FII</option>
                    <option value="3">LCI</option>
                    <option value="4">LCA</option>
                    <option value="5">Viagem</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <select asp-for="Account" class="form-control" disabled>
                    <option value="0">Modal</option>
                    <option value="1">XP</option>
                    <option value="2">NuInvest</option>
                    <option value="3">Bradesco</option>
                    <option value="4">Wise</option>

                </select>
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Adicionar Reservas </label>
                <div class="d-flex">
                    <select asp-items="ViewBag.AllReserves" class="form-control" id="selectedReserve">
                        <option value="">-- Seleciome uma reserva --</option>
                    </select>

                    <input type="text" class="form-control ml-2" id="reserveAmount" value="0.00" />
                    <span class="text-danger"></span>

                    <button type="button" class="btn btn-primary ml-2" id="addReserve" disabled>Adicionar</button>
                </div>
            </div>


            <!-- Table to display added reserves -->
            <table class="table table-bordered mt-2" id="selectedReservesTable">
                <thead>
                    <tr>
                        <th>Reserva</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.SelectedReserves.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="SelectedReserves[i].ReserveId" />
                                @Html.DisplayFor(model => model.SelectedReserves[i].ReserveName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.SelectedReserves[i].Amount)
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger removeReserve">Remover</button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <!-- Hidden input for tracking removed items -->
            <input type="hidden" id="removedReserves" name="RemovedReserves" value="" />

            <div class="form-group d-flex">
                <a class="btn btn-secondary mr-2" asp-action="Index">Voltar</a>
                <input type="submit" value="Atualizar Investimento" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            // Enable the "Adicionar" button when a reserve is selected
            $("#selectedReserve").change(function () {
                var selectedValue = $(this).val();
                if (selectedValue !== "") {
                    $("#addReserve").prop("disabled", false);
                } else {
                    $("#addReserve").prop("disabled", true);
                }
            });

            // Handle adding a selected reserve
            $("#addReserve").click(function () {
                var selectedReserveId = $("#selectedReserve").val();
                var reserveAmount = $("#reserveAmount").val();
                var investmentId = "@Model.Id.ToString()";

                console.log(selectedReserveId);
                console.log(reserveAmount);
                console.log(investmentId);

                if (selectedReserveId !== "") {
                    $.ajax({
                        url: "/Investments/AddReserve", // Replace with the correct URL
                        method: "POST",
                        data: {
                            InvestmentId: investmentId,
                            ReserveId: selectedReserveId,
                            Amount: reserveAmount
                        },
                        success: function () {
                            // Reload the page after adding the reserve
                            location.reload();
                        },
                        error: function () {
                            // Handle the error if needed
                        }
                    });
                }
            });

            // Handle removing a selected reserve
            $("#selectedReservesTable").on("click", ".removeReserve", function () {
                var row = $(this).closest("tr");
                var reserveIdInput = row.find("input[name^='SelectedReserves'][name$='.ReserveId']");
                var reserveId = reserveIdInput.val();

                if (reserveId) {
                    $.ajax({
                        url: "/Investments/RemoveReserve", // Replace with the correct URL
                        method: "POST",
                        data: {
                            InvestmentId: "@Model.Id",
                            ReserveId: reserveId
                        },
                        success: function () {
                            // Remove the row from the table
                            row.remove();
                        },
                        error: function () {
                            // Handle the error if needed
                        }
                    });
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
