@model Finances.Database.Entities.Entry

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Valor</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReserveId" class="control-label">Reserva</label>
                <select asp-for="ReserveId" class="form-control" asp-items="ViewBag.ReserveId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Observation" class="control-label">Observação</label>
                <input asp-for="Observation" class="form-control" />
            </div>
            <div class="form-group d-flex">
                <a class="btn btn-secondary mr-2" asp-action="Index">Cancelar</a>
                <input type="submit" value="Criar Investimento" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
